:root {
    --orange: orange;
    --orange-items: rgb(255, 216, 144);
    --blue: blue;
    --green: green;
    --grey: grey;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

}

.site-container {
    width: 100%;
    border: 1px solid var(--green);
    padding: 0.5vh;

}

.section-container {
    width: 100%;
    border: 1px solid var(--blue);
}

.nav {
    display: flex;
    position: relative;
    gap: 6rem;
    justify-content: flex-end;
    align-items: center;
}

.nav__menu {
    margin-right: 1rem;
}

.nav__logo {
    background-color: var(--orange);
    height: 2rem;
    width: 8rem;
}

.menu__items,
input {
    display: none;
}

.menu__items {
    width: 100%;
    background-color: var(--orange);
}

label {
    font-size: 2rem;
    display: block;
    padding-top: 5px;
}

#menu-dropper:checked+.menu__items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background: var(--orange-items);
}

@media (min-width: 800px) {

    .section-container {
        width: 1000px;
        margin: 0 auto;
    }

    label, input {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }

    .nav__menu {
        height: 2rem;
        margin-right: 0;
        min-width: 40vw;
    }

    .nav__logo,
    .nav__menu {
        margin: 1vh 0;
    }

    .menu__items {
        display: flex;
        justify-content: space-around;
        /* align-items: center */
    }

    .menu__item {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.articles,
.testimonials {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.article {
    min-height: 46vh;
    background-color: var(--orange);
}

.testimonial {
    background-color: var(--orange);
}

.testimonial--one {
    min-height: 20vh;
}

.testimonial--two,
.testimonial--three {
    min-height: 30vh;
}

@media (min-width: 800px) {

    .articles,
    .testimonials {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 2vh;
    }

    .article,
    .testimonial {
        margin: 1vh 0;
        flex-basis: 50%;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-item {
    background-color: var(--orange);
    width: 20vh;
    height: 5vh;
    margin: 0.5vh 0;
}